<div class="row" id="about-detail">
    <div class="col-md-12">
        <h1 class="heading">ABOUT ME</h1>
        <p class="detail">Hello to the world wide web. Born and brought up in a small place called Akola, I currently live in Pune. Always seeking out for newer challenges, I've made mistakes and learnt from them. Apart from work, I am always on a lookout for travelling
            opportunities. Watching movies and web series are my favorite leisure activities. I have attended the 10-day Vipassana camp at Igatpuri. I have travelled throughtout India, thanks to the Tata Jagriti Yatra. To volunteer in my free time, I
            had been engaged with a beautiful organisation called Make a Difference that works across India to bring equitable outcomes for underpreviliged kids. Know more about them below.</p>
    </div>
</div>