<div class="row" id="about-detail">
    <div class="col-md-12">
        <h1 class="heading">ABOUT ME</h1>
        <p class="detail">Hello to the world wide web. I'm a graduate out of VNIT, Nagpur. Always seeking out for newer challenges, I've made mistakes and learnt from them. Apart from work, I am on a lookout for travelling opportunities. I have travelled throughtout India,
            thanks to the Tata Jagriti Yatra. I love to volunteer in my free time. I had been engaged with a beautiful organisation called Make a Difference that works across India to bring equitable outcomes for underpreviliged kids. I watch a lot of
            movies and web-series. I do multi-tasking as there's always so much to do. I play badminton.</p>
    </div>
</div>