#about-introduction {
    background: black;
    padding: 25% 5% 10%;
    color: white;
}

.heading {
    font-size: 400%;
    font-weight: 900;
    color: white;
}

a {
    text-decoration: none;
    color: rebeccapurple;
}