<div class="row" id="about-introduction">
    <div class="col-md-12">
        <h1 class="heading">I'M</h1>
        <h1 class="heading">ADITYA</h1>
        <h1 class="heading">SINGHANIA</h1>
    </div>
    <div class="col-md-12 I">
        <h5>I believe in reason.</h5>
        <h5>I love street food more than anything else.</h5>
        <h5>I have set my ATM Pin to 9659.</h5>
        <h5>I'm lying.</h5>
        <h5>I have a wonderful family (a caring mother, a hard-working father and a beautiful elder sister).</h5>
        <h5>I owe them everything.</h5>
        <h5>I love to code and put it to good use. See what I've done as a part of my <a routerLink="/resume">work.</a></h5>
        <h5>I love Anurag Kashyap's movies and Piyush Mishra's work in poetry. There's something about them.</h5>
        <h5>I haven't watched Game of Thrones but someday, I'm definitely going to.</h5>
        <h5>I sometimes express myself through some <a routerLink="/blogs">content writing</a>.</h5>
    </div>
</div>