#intro {
    background: black;
    padding: 150px 5% 100px 5%;
    color: white;
}

.heading {
    font-size: 400%;
    font-weight: 900;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(111, 111, 111);
    font-weight: 900;
}