<div id="footer">
    <div class="row">
        <div class="col-md-12 heading">
            <h3>DO WHAT YOU LOVE, LOVE WHAT YOU DO</h3>
            <div class="copyright">
                <p>View the entire source code of this website on <a href="https://github.com/singhania94/angular-website" target="_blank">github</a>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 social-media-options">
            <a class="social-media-option" href="https://www.linkedin.com/in/aditya-singhania/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-media-option" href="https://medium.com/@singhania94" target="_blank"><i class="fab fa-medium-m"></i></a>
            <a class="social-media-option" href="https://github.com/singhania94" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-media-option" href="https://www.instagram.com/singhanialadin/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="social-media-option" href="https://terriblytinytales.com/user/aladinsinghania" target="_blank"><i class="fab fa-tumblr"></i><i class="fab fa-tumblr"></i><i class="fab fa-tumblr"></i></a>
            <a class="social-media-option" href="https://www.facebook.com/aditya.singhania.18" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="social-media-option" href="mailto:work@adityarsinghania.com" target="_blank"><i class="far fa-envelope-open"></i></a>
        </div>
    </div>
    <div class="row contact-options">
        <div class="col-md-4"><i class="contact-option far fa-envelope"></i>work@adityarsinghania.com</div>
        <div class="col-md-4"><i class="contact-option fas fa-mobile-alt"></i>+91-7798898722</div>
        <div class="col-md-4"><i class="contact-option fas fa-location-arrow"></i>Bengaluru, India</div>
    </div>
</div>