<div id="footer">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">DO WHAT YOU LOVE, LOVE WHAT YOU DO</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 social-media-options">
            <a class="social-media-option" href="https://www.linkedin.com/in/aditya-singhania/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-media-option" href="https://github.com/singhania94" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-media-option" href="https://www.facebook.com/aditya.singhania.18" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="social-media-option" href="https://www.instagram.com/singhanialadin/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="row col-md-12 contact-options">
        <i class="col-md-4 contact-option far fa-envelope">singhania.aditya94@gmail.com</i>
        <i class="col-md-4 contact-option fas fa-mobile-alt">+91-7798898722</i>
        <i class="col-md-4 contact-option fas fa-location-arrow">India</i>
    </div>
</div>