#footer {
    width: 100%;
    background: black;
    padding: 1%;
}

.heading {
    padding: 2%;
    text-align: center;
    color: white;
}

.social-media-options {
    padding: 1% 2%;
    text-align: center;
}

.social-media-option {
    padding: 1%;
}

.contact-options {
    padding: 2% 4% 4% 4%;
    color: white;
    text-align: center;
}

.contact-option {
    padding: 2%;
}

a {
    text-decoration: none;
    color: white;
}