.row {
    padding: 2% 2% 5% 2%;
    text-align: center;
}

.title {
    padding: 5% 0% 5% 0%;
}

.code {
    background: url('../../../../assets/img/bg_edit_bw.png') no-repeat fixed;
}

.teach {
    background: url('../../../../assets/img/jy.jpg') no-repeat fixed;
}

.travel {
    background: url('../../../../assets/img/travel.jpg') no-repeat fixed;
}

.code,
.teach,
.travel {
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    padding: 50% 0%;
    color: white;
}

.code:hover,
.teach:hover,
.travel:hover {
    background: white;
    color: black;
}