<div class="row" id="home-brief">
    <div class="col-md-12 title">
        <h1>A brief introduction of my time.</h1>
    </div>
    <div class="col-md-4 square">
        <a href="home#home-code">
            <div class="code">
                <h3>CODING</h3>
            </div>
        </a>
    </div>
    <div class="col-md-4 square">
        <a href="home#home-teach">
            <div class="teach">
                <h3>TEACHING</h3>

            </div>
        </a>
    </div>
    <div class="col-md-4 square">
        <a href="home#home-travel">
            <div class="travel">
                <h3>TRAVELLING</h3>
            </div>
        </a>
    </div>
</div>