#home-brief {
    padding: 5% 10%;
    text-align: center;
}

.header {
    padding: 1%;
}

/*.content {
    padding: 0% 10% 0% 10%;
}*/

.col-md-4 {
    padding: 1%;
}

h5 {
    margin: 10% 10% 2% 10%;
    border-style: solid;
    padding: 4% 2% 4% 3%;
}

.code,
.teach,
.travel {
    padding: 80% 10% 10% 30%;
}

.code:hover {
    background: url('../../../../assets/img/coding_edited_bw-reduced.jpg');
    background-size: cover;
}

.teach:hover {
    background: url('../../../../assets/img/teach_edited_bw-reduced.jpg');
    background-size: cover;
}

.travel:hover {
    background: url('../../../../assets/img/travel_edited_bw-reduced.jpg');
    background-size: cover;
}

.code {
    background: url('../../../../assets/img/coding_edited-reduced.jpg');
    background-size: cover;
}

.code:hover h3 {
    opacity: 1;
}

.teach {
    background: url('../../../../assets/img/teach_edited-reduced.jpg');
    background-size: cover;
}

.teach:hover h3 {
    opacity: 1;
}

.travel {
    background: url('../../../../assets/img/travel_edited-reduced.jpg');
    background-size: cover;
}

.travel:hover h3 {
    opacity: 1;
}

a {
    text-decoration: none;
}

h3 {
    opacity: 0;
    border-style: solid;
    padding: 2%;
    color: black;
    background: rgba(255, 255, 255, 0.25);
}