<div class="row" id="home-brief">
    <div class="col-md-12 header">
        <h1>The three verbs that define my routine</h1>
    </div>
    <div class="col-md-12 row content">
        <div class="col-md-4">
            <h5>coding</h5>
            <div class="square">
                <a (click)='gotoCode()'>
                    <div class="code">
                        <p>Read</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h5>learning</h5>
            <div class="square">
                <a (click)='gotoTeach()'>
                    <div class="teach">
                        <p>Read</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h5>travelling</h5>
            <div class="square">
                <a (click)='gotoTravel()'>
                    <div class="travel">
                        <p>Read</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>