<div class="row" id="home-brief">
    <div class="col-md-12 header">
        <h1>The three verbs of my life...</h1>
    </div>
    <div class="col-md-12 row content">
        <div class="col-md-4">
            <div class="square">
                <a href="home#home-code">
                    <div class="code">
                        <h3>CODING</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="square">
                <a href="home#home-teach">
                    <div class="teach">
                        <h3>LEARNING</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="square">
                <a href="home#home-travel">
                    <div class="travel">
                        <h3>TRAVELLING</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>