#home-brief {
    padding: 5% 10%;
    text-align: center;
}

.header {
    padding: 1%;
}

h1 {
    font-weight: 700;
}

.col-md-4 {
    padding: 1%;
}

h5 {
    margin: 10% 10% 2% 10%;
    border-style: solid;
    padding: 4% 2% 4% 3%;
    font-weight: 800;
}

.code,
.teach,
.travel {
    padding: 80% 10% 10% 40%;
}

.code {
    background: url('../../../../assets/img/coding_edited-reduced.jpg');
    background-size: cover;
}

.code:hover p {
    opacity: 1;
}

.teach {
    background: url('../../../../assets/img/beat_edited.jpg');
    background-size: cover;
}

.teach:hover p {
    opacity: 1;
}

.travel {
    background: url('../../../../assets/img/travel_edited-reduced.jpg');
    background-size: cover;
}

.travel:hover p {
    opacity: 1;
}

.code:hover {
    background: url('../../../../assets/img/coding_edited_bw-reduced.jpg');
    background-size: cover;
}

.teach:hover {
    background: url('../../../../assets/img/beat_edited_bw.jpg');
    background-size: cover;
}

.travel:hover {
    background: url('../../../../assets/img/travel_edited_bw-reduced.jpg');
    background-size: cover;
}

p {
    opacity: 0;
    background: rgba(255, 255, 255, 0.25);
    padding: 2%;
    color: black;
    font-weight: 900;
}

a {
    text-decoration: none;
}