<div id="blog">
    <div class="heading">
        <h1>Thoughts on the loose.</h1>
        <h5>Technology and Content, anything that's on my mind.</h5>
    </div>
    <div class="row sections">
        <div class="section">
            <div class="col-12 section-heading" *ngIf='techBlogs.length'>
                <h3>Blogs</h3>
                <p class="sub-title">I've been fortunate enough to work on mutiple technology stack across different domains in a short span. Here, I share some of the insights I've gained on these technologies. I also share some of my personal experiences.</p>
            </div>
            <div class="col-12 row blogs" *ngIf='techBlogs.length'>
                <a *ngFor='let techblog of techBlogs' class="col-12 col-md-4 blog tech-blog" routerLink="/home">
                    <!--style="background-image:url({{techblog.imgUrl}})"-->
                    <div class="snap website" [ngStyle]="{'background-image': 'url(' + techblog.imgUrl + ')'}"></div>
                    <h5 class="title">{{techblog.title}}</h5>
                    <p class="sub-title">{{techblog.category | uppercase}} | {{techblog.when | uppercase}}</p>
                    <p>{{techblog.story}}</p>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="col-12 section-heading" *ngIf='otherBlogs.length'>
                <h3>Short Stories</h3>
                <p class="sub-title">It's said a pen is mightier than the sword. This is my attempt to pen down my thoughts and perspectives that I've gained over the years. The short stories are inspired by the things that happen around me. They talk about a variety of subjects.</p>
            </div>
            <div class="col-12 row blogs" *ngIf='otherBlogs.length'>
                <div *ngFor='let otherblog of otherBlogs' class="col-12 row blog">
                    <div class="col-md-3">
                        <h5 class="title">{{otherblog.title}}</h5>
                        <p class="sub-title">{{otherblog.category | uppercase}} | {{otherblog.when | uppercase}}</p>
                    </div>
                    <div class="col-md-9">
                        <p>{{otherblog.story}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>