#intro {
    text-align: center;
}

.heading {
    background: rgb(237, 236, 236);
    padding: 250px 10% 100px 10%;
}

h1,
h3,
h5 {
    font-weight: 900;
}

.sub-title {
    padding: 0% 10%;
    font-weight: 700;
}

.sections {
    padding: 5% 2%;
}

.section {
    padding-top: 2%;
    padding-bottom: 2%;
}

.blogs {
    padding: 2%;
}

.blog {
    transition: 0.5s;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}

.snap {
    margin: 1% 0%;
    background-size: cover;
    padding-top: 100%;
}

.tech-blog:hover {
    background: black;
    border: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}