#home-teach {
    padding: 0% 5% 3% 5%;
}

.heading {
    margin: 5% 0% 0% 0%;
    font-weight: 900;
    font-size: 75px;
}

hr {
    border: black;
    border-style: inset;
    border-width: 3px;
    width: 100px;
}

.canvas {
    background: url('/assets/img/home-learn.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    padding: 2%;
}

.content {
    margin-bottom: 15%;
    padding: 0%;
    color: black;
}

.text {
    padding: 5%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(151, 111, 0);
}

.button {
    transition: 1s;
    border-style: solid;
    border-color: black;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
}

.button-text {
    font-weight: 900;
    padding: 5%;
}

.button:hover {
    border-color: black;
    background: black;
    color: white;
}