.heading {
    margin: 8% 0% 0% 0%;
    font-weight: 900;
    font-size: 75px;
}

hr {
    border: black;
    border-style: inset;
    border-width: 3px;
    width: 100px;
}

.canvas {
    background: url('../../../../assets/img/home-brief-learn_edited.jpg');
    background-size: cover;
    padding: 2%;
}

.content {
    margin-bottom: 15%;
    padding: 0%;
    color: black;
}

h4 {
    border-style: solid;
    padding: 5%;
    background: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: green;
}