<div class="row" id="home-teach">
    <div class="col-md-12">
        <h1 class="heading">teach</h1>
    </div>
    <div class="col-md-12 content">
        <h1>I have always been passionate about Teaching. Be it conducting Knowledge Sharing session of a technology or going down to a sheltor home and teaching kids. Any excuse to get a stage with an audience and start speaking. For that, I'd been engaged
            with an organisation <a href="http://makeadiff.in/">Make a Difference</a> and undertaken various responsibilities.</h1>
    </div>
</div>