<div class="row" id="home-teach">
    <div class="col-md-12">
        <h1 class="heading">learn</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <hr>
        </div>
    </div>
    <div class="canvas">
        <div class="col-md-6 col-sm-12 content">
            <h5>Be it about technology or anything else. JACK OF ALL TRADES AND MASTER OF SOME. That's what I want to be. And I believe to keep on learning is the way to do that. I've written blogs about my learnings and life experiences <a routerLink="/blogs">here</a>.
                I spend good time reading and exploring. I've built this website on AngularJS framework for exactly this. Well, curiosity does serve as a good fuel. View this entire website source code <a href="https://github.com/singhania94/angular-website"
                    target="_blank">here on github</a>.</h5>
        </div>
    </div>
</div>