<div class="row" id="resume-detail">
  <div class="col-md-12 row" id="tech-stack">
    <div class="col-md-4 heading">
      <h3>TECHNOLOGIES</h3>
    </div>
    <div class="col-md-8 detail row">
      <div class="col-md-6">
        <h5 class="sub-heading">DAY-TO-DAY-COMFORT-</h5>
        <ul>
          <li><div class="sub-sub-heading">JAVA</div> (java8) - Spring-boot, Spring-batch, REST, JDBC, Junit testing.</li>
          <li><div class="sub-sub-heading">CLOUD</div> - AWS, Docker, Openshift (Kubernetes).</li>
          <li><div class="sub-sub-heading">MESSAGING / PROCESSING / LOGS</div> - Apache Kafka (Confluent), Apache Storm, ELK, X-pack.</li>
          <li><div class="sub-sub-heading">STORAGE</div> - MongoDB, MySQL, Hazelcast distributed cache.</li>
          <li><div class="sub-sub-heading">VERSION CONTROL</div> - Git.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5 class="sub-heading">EXPERIENCE WITH-</h5>
        <ul>
          <li><div class="sub-sub-heading">FRONTEND</div> - AngularJS.</li>
          <li>Python (3+, 2+).</li>
          <li>C, C++, Javascript, HTML.</li>
        </ul>
      </div>
    </div> 
  </div>
  <div class="col-md-12 row" id="experience">
    <div class="col-md-4 heading">
      <h3>PROFESSIONAL EXPERIENCE</h3>
    </div>
    <div class="col-md-8 detail"></div> 
  </div>
  <div class="col-md-12 row" id="education">
    <div class="col-md-4 heading">
      <h3>EDUCATION</h3>
    </div>
    <div class="col-md-8 detail"></div> 
  </div>
  <div class="col-md-12 row" id="responsibility">
    <div class="col-md-4 heading">
      <h3>POSITIONS OF RESPONSIBILITY</h3>
    </div>
    <div class="col-md-8 detail"></div> 
  </div>
  <div class="col-md-12 row" id="achievements">
    <div class="col-md-4 heading">
      <h3>ACHIEVEMENTS</h3>
    </div>
    <div class="col-md-8 detail"></div> 
  </div>
</div>
