#resume-detail {
    padding: 2%;
}

.resume-section {
    padding: 1%;
}

.heading,
.detail {
    padding: 1%;
}

.sub-detail {
    padding-left: 1%;
    padding-right: 1%;
}

h3 {
    font-weight: 900;
}

.sub-heading {
    margin: 0%;
    padding: 1%;
    font-weight: 800;
}

.sub-sub-heading {
    padding: 0% 1%;
    font-weight: 800;
}

.resume-sub-section {
    padding: 2%;
}

.date {
    margin: 0%;
    text-align: right;
}

.li {
    font-weight: 700;
}

li {
    justify-content: stretch;
}

.res-text {
    padding: 0% 1%;
}