<div class="mobile-menu row">
    <div class="logo-mobile col-sm-2 col-xs-2 d-block d-md-none">
        <a routerLink="/home"><img src="../assets/img/logo_AS_edit.png " alt="personal-logo"></a>
    </div> 
    <div class="mobile-menu-options col-sm-10 col-xs-10 d-block d-md-none">
        <i class="menu-option fas fa-bars"></i>
    </div>
</div>

<div class="row universal-menu">
    <div class="logo col-md-2 d-none d-md-block">
        <a routerLink="/home"><img src="../assets/img/logo_AS_edit.png " alt="personal-logo"></a>
    </div>
    <div class="menu-options col-md-10 d-none d-md-block">
        <a class="menu-option" routerLink="/contact">CONTACT</a>
        <a class="menu-option" routerLink="/contentwriting">CONTENT-WRITING</a>
        <a class="menu-option" routerLink="/videos">VIDEOS</a>
        <a class="menu-option" routerLink="/techblogs">TECH-BLOGS</a>
        <a class="menu-option" routerLink="/resume">RESUME</a>
        <a class="menu-option" routerLink="/home">HOME</a>
    </div>
</div>
