<div class="row universal-menu">
    <div class="col-md-2 logo">
        <a routerLink="/home"><img src="../assets/img/logo_AS_edit.png " alt="personal-logo"></a>
    </div>
    <div class="menu-options col-md-10 d-none d-md-block">
        <a class="menu-option" routerLink="/home">HOME</a>
        <a class="menu-option" routerLink="/resume">RESUME</a>
        <a class="menu-option" routerLink="/techblogs">TECH-BLOGS</a>
        <a class="menu-option" routerLink="/videos">VIDEOS</a>
        <a class="menu-option" routerLink="/contentwriting">CONTENT-WRITING</a>
        <a class="menu-option" routerLink="/contact">CONTACT</a>
    </div>
</div>