.universal-menu {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.60);
    padding: 10px;
}

.logo {
    padding: 0% 0%;
}

.logo-img {
    transition: 0.5s;
    background-image: url("../../assets/img/logo_AS_edit.png");
    background-size: cover;
    height: 90px;
    width: 130px;
}

.logo-img:hover {
    opacity: 0.75;
}

.mobile-menu-options {
    text-align: right;
    margin: auto;
    color: white;
    font-size: 150%;
}

.dropdown .btn {
    background: transparent;
}

.dropdown .btn:focus {
    background: white;
    color: black;
}

.dropdown-item:active {
    background: black;
    color: white;
}

.menu-options {
    display: flex;
    justify-content: flex-end;
    padding: 0% 0%;
}

.menu-option {
    transition: 1s;
    position: relative;
    float: right;
    margin: auto 1%;
    padding: 1% 2% 1% 2%;
    width: max-content;
    text-decoration: none;
    color: white;
    font-weight: 600;
    white-space: nowrap;
}

.menu-option:hover {
    background: white;
    color: black;
}