<div class="row universal-menu">
    <a class="logo col-3" routerLink="/home"><img src="../assets/img/logo_AS_edit.png " alt="personal-logo"></a>
    <div class="mobile-menu-options col-9 d-block d-md-none">
        <div class="dropdown">
            <button class="mobile-menu-button btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="">
               <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="mobile-menu-option dropdown-item" routerLink="/home">HOME</a>
                <a class="mobile-menu-option dropdown-item" routerLink="/resume">RESUME</a>
                <a class="mobile-menu-option dropdown-item" routerLink="/techblogs">TECH-BLOGS</a>
                <a class="mobile-menu-option dropdown-item" routerLink="/videos">VIDEOS</a>
                <a class="mobile-menu-option dropdown-item" routerLink="/contentwriting">CONTENT-WRITING</a>
                <a class="mobile-menu-option dropdown-item" routerLink="/contact">CONTACT</a>
            </div>
        </div>
    </div>
    <div class="menu-options col-9 d-none d-md-block">
        <a class="menu-option" routerLink="/contact">CONTACT</a>
        <a class="menu-option" routerLink="/contentwriting">CONTENT-WRITING</a>
        <a class="menu-option" routerLink="/videos">VIDEOS</a>
        <a class="menu-option" routerLink="/techblogs">TECH-BLOGS</a>
        <a class="menu-option" routerLink="/resume">RESUME</a>
        <a class="menu-option" routerLink="/home">HOME</a>
    </div>
</div>