.snap {
    background-size: cover;
    padding-top: 44.23%;
}

.content {
    padding: 5% 5% 2% 5%;
}

h1,
h5 {
    font-weight: 900;
    text-align: center;
}

.text {
    padding-top: 5%;
    padding-bottom: 2%;
}

.back {
    margin: 5%;
    border-style: solid;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.back:hover {
    background-color: black;
    color: white;
}