<div class="row" *ngIf='techBlog' id="intro">
    <div class="col-12 snap" [ngStyle]="{'background-image': 'url(/assets/img/' + techBlog.imgUrl + '.jpg)'}"></div>
    <div class="col-12 row content">
        <div class="col-12 heading">
            <h1>{{techBlog.title}}</h1>
            <h5>{{techBlog.category | uppercase}} | {{techBlog.when | uppercase}}</h5>
        </div>
        <div class="col-12 text">
            <div *ngFor='let storyPara of storyParas'>
                <p>{{storyPara}}</p>
            </div>
        </div>
    </div>
    <div class="col-12 row">
        <a class="back col-6 col-sm-4 col-md-3" routerLink="/blogs">GO BACK</a>
    </div>
</div>
<app-universal-footer></app-universal-footer>