#contact-me {
    background: rgb(208, 208, 208);
    padding: 5% 5%;
    text-align: center;
}

.header {
    margin: 1% 1%;
}

.button {
    margin: 5% auto 1% auto;
    border-style: solid;
    padding: 2% 2%;
    text-decoration: none;
    color: black;
}

.button:hover {
    border-color: black;
    background: black;
    color: white;
}