.map {
    background-image: url('/assets/img/map.jpg');
    background-size: cover;
    background-position: center center;
    padding-bottom: 400px;
    height: 0;
}


/*.map iframe {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/