#home-code {
    background: rgb(240, 239, 239);
    padding: 0% 5% 3% 5%;
}

.heading {
    margin: 5% 0% 0% 0%;
    font-weight: 900;
    font-size: 75px;
}

hr {
    border: black;
    border-style: inset;
    border-width: 3px;
    width: 100px;
}

.title {
    padding: 10% 4%;
    background: url('../../../../assets/img/home-brief-code_edited-reduced.jpg');
    background-size: cover;
    background-position-y: bottom;
    color: white;
}

.description {
    padding: 2% 2%;
}

.desc {
    margin: 2% 0%;
    padding: 2% 4% 2% 2%;
    border-style: solid;
    color: black;
    font-weight: 900;
}

.button:hover {
    background: black;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(169, 34, 34);
}

h3 {
    text-align: center;
}