.row {
    padding: 2%;
}

.heading {
    font-weight: 900;
    font-size: 50px
}

.title {
    padding: 10% 4%;
    background: url('../../../../assets/img/home-brief-code_edited.jpg') no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    color: white;
}

.description {
    background: rgb(240, 239, 239);
}

.desc {
    margin: 2% 2%;
    padding: 2%;
    border-style: solid;
    color: black;
    font-weight: 900;
}

.button:hover {
    border: white;
    background: black;
    color: white;
}

a {
    text-decoration: none;
}

h3 {
    text-align: center;
}