<div class="row" #homecode id="homecode">
    <div class="col-md-12">
        <h1 class="heading">code</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <hr>
        </div>
    </div>
    <div class="col-md-4 title">
        <h1>Recent Projects and Teams that I've been a part of in my professional career.</h1>
    </div>
    <div class="row col-md-8 description">
        <div class="col-md-12 desc">
            <h3>Calculation Engine</h3>
            <p>The team handles the credit risk pricing. It prices more than four million trades a day for 410+ tenor points across a thousand simulation paths. Worked on Cloud (<a href="https://aws.amazon.com/" target="_blank">AWS</a>,
                <a href="https://www.openshift.com/" target="_blank">Openshift</a>,
                <a href="https://www.docker.com/" target="_blank">Docker</a>), <a href="https://kafka.apache.org/" target="_blank">Apache
                Kafka</a>, <a href="https://www.elastic.co/elk-stack" target="_blank">ELK stack (Elastic, Logstash, Kibana)</a> and <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> in multiple coding languages as a part of the work.</p>
        </div>
        <div class="col-md-12 desc">
            <h3>Reporting Hub</h3>
            <p>Reporting of trades to the Regulatory Bodies as part of the mandatory requirement is managed by the team. Involved in building a highly scalable architecture to handle fetching, processing and reporting in realtime of millions of trades a
                minute. Worked on <a href="https://kafka.apache.org/" target="_blank">Apache Kafka</a>, <a href="http://storm.apache.org/" target="_blank">Apache Storm</a>, <a href="https://hazelcast.com/use-cases/caching/" target="_blank">Hazelcast cache</a>,
                <a href="http://spring.io/projects/spring-boot" target="_blank">Spring-boot/batch apis</a> and <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> as part of various peices.</p>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-8"></div>
            <a routerLink="/resume" class="col-md-3 desc button">
                <h5>KNOW MORE</h5>
            </a>
        </div>
    </div>
</div>