<div class="row" id="home-code">
    <div class="col-md-4 title">
        <h1>Recent Projects and Teams that I've been a part of in my professional career.</h1>
    </div>
    <div class="row col-md-8 description">
        <div class="col-md-12 desc">
            <h3>Analytical Calculation Engine, Citibank</h3>
            <p>The team handles the credit risk pricing for Citi. The team prices more than four million trades a day for 410+ tenor points across a thousand simulation paths. Worked on Cloud (AWS, Openshift, Docker), Apache Kafka, ELK stack (Elastic, Logstash,
                Kibana) in various coding languages as a part of the work.</p>
        </div>
        <div class="col-md-12 desc">
            <h3>Regulatory Reporting Hub, Citibank</h3>
            <p>Reporting of trades to the Regulatory Bodies as part of the mandatory requirement is managed by the team. Involved in building a highly scalable infrastructure to handle fetching, processing and reporting in realtime of millions of trades
                a minute. Worked on Apache Kafka, Apache Storm, Hazelcast cache, Spring-boot/batch apis as part of various peices.</p>
        </div>
        <div class="col-md-7"></div>
        <a routerLink="/resume" class="col-md-4 desc button">
            <h4>Know more</h4>
        </a>
    </div>
</div>