.row {
    padding: 2%;
}

.title {
    padding: 10% 4%;
    background: black;
    color: white;
}

.description {
    background: rgb(240, 239, 239);
}

.desc {
    margin: 2% 2%;
    padding: 2%;
    border-style: solid;
    color: black;
    font-weight: 900;
}

a {
    text-decoration: none;
}