#contact-form {
    background: rgb(237, 236, 236);
    padding: 10%;
}

.title {
    padding: 0%;
    padding-bottom: 5%;
}

*:focus {
    box-shadow: none;
    border-color: black;
}

input,
textarea {
    border-radius: 0;
}

input#query {
    height: 150px;
    resize: both;
}

button {
    border-style: solid;
    border-color: black;
    margin-top: 2%;
    background-color: black;
    color: white;
    padding: 1%;
    border-radius: 0;
}

button:hover,
button:focus,
button:active {
    border-color: black;
    background-color: black;
    color: white;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid rgb(24, 94, 28);
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #5c1717;
    /* red */
}