#intro {
    width: 100%;
    background: url('../../../../assets/img/home_intro_bg-edited-bw-edited.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    padding: 20% 5% 5% 5%;
}

.black-box {
    border-style: solid;
    border-color: white;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    margin: 25% auto 3% auto;
    padding: 2%;
}

h1,
h3,
h5 {
    font-weight: 700;
}

h1 {
    font-size: 350%;
}

h5 {
    color: rgb(184, 182, 182);
}

a {
    text-decoration: none;
    color: white;
}