<div class="row" id="intro" data-paroller-factor="-0.5" data-paroller-factor-sm="-0.2" data-paroller-factor-xs="-0.1">
    <div class="col-md-8 offset-md-2 intro-box">
        <h1>Aditya Singhania</h1>
        <h3>coder | learner | traveller</h3>
        <h5>Hello World. I'm a passionate Software Developer graduated out of <a href="http://www.vnit.ac.in/" target="_blank">Visvesvaraya National Institute of Technology, Nagpur</a> currently living in Pune. Being a curious soul, I am fascinated by the
            power of code and it's role in the development of us. When I'm not coding, I'm usually learning something new, sharing something I've already learnt or planning my next vacation trek.</h5>
    </div>
</div>