<div class="row" id="intro">
    <div class="col-md-8 offset-md-2 intro-box">
        <h1>Aditya Singhania</h1>
        <h3>coder | learner | traveller</h3>
        <h5>Hello World. I'm a passionate Software Developer graduated out of <a href="http://www.vnit.ac.in/" target="_blank">Visvesvaraya National Institute of Technology, Nagpur</a> currently living in Bengaluru. Being a curious soul, I am fascinated by the
            power of code and it's role in the development of us. When I'm not coding, I'm usually learning something new, sharing with others something I've already learnt or planning my next vacation trek.</h5>
    </div>
</div>