.row {
    background: url('../../../../assets/img/home_intro_bg-edited-bw-edited.jpg') no-repeat fixed;
    background-position-y: bottom;
    background-size: cover;
}

.magic-box {
    border-style: solid;
    border-color: white;
    border-width: medium medium;
    text-align: center;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    margin: 25% 0% 10% 0%;
    padding: 3%;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

h5 {
    font-weight: 700;
    margin: 0% 0%;
}

a {
    text-decoration: none;
}