<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="magic-box">
            <h1>ADITYA SINGHANIA</h1>
            <h5>Coder | Teacher | Travel Enthusiast</h5>
            <p>Hello World. I'm a Software Developer graduated out of <a href="http://www.vnit.ac.in/" target="_blank">Visvesvaraya National Institute of Technology, Nagpur</a> currently living in Pune. I am fascinated by the power of code and it's role
                in the development of us. When I'm not coding, I'm usually learning something new, teaching something I've already learnt or planning my next vacation trek.</p>
        </div>
    </div>
</div>