<div class="row">
    <div class="col-12 section jagriti-yatra">
        <h3>Jagriti Yatra - Awakening the entrepreneurial spirit</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GkHooiRvW1M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-12 section make-a-difference">
        <h3>Make A Difference - It starts with us!</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3ZA6wwE8c0Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-12 section dream-camp">
        <h3>Dream Camp @ Make A Difference</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p0Hkc_ggmzg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>