<div class="row" id="about-videos">
    <div class="col-10 offset-1 col-md-10 offset-md-1 section">
        <div class="content">
            <h3>Tata Jagriti Yatra</h3>
            <p>Every year, about 350+ candidates of Indian and Foreign origin are selected from varied backgrounds. The team travels across the country in a special Jagriti train meeting successful entrepreneurs and understanding their bussiness models.
                The project aims to awaken the entrepreneurial spirit in the country. <a href="http://www.jagritiyatra.com/" target="_blank">Learn more</a>.</p>
        </div>
        <div class="video jagriti-yatra">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GkHooiRvW1M?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-10 offset-1 col-md-10 offset-md-1  section">
        <div class="content">
            <h3>Make A Difference</h3>
            <p>This is a national level organisation in 23 cities that strives to provide equitable outcomes to children in shelter homes. There are various teaching projects and activites conducted at shelter homes for the all-round development of the kids.
                <a href="http://makeadiff.in/volunteer/" target="_blank">See how you can help</a>.</p>
        </div>
        <div class="video make-a-difference">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Kp-EMYWj3gY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-10 offset-1 col-md-10 offset-md-1  section">
        <div class="content">
            <h3>Dream Camp</h3>
            <p>This is an outdoor camp organised anually at Make A Difference. The event helps build independence among the kids at shelter homes. Various moral education sessions and fun activities are conducted here. <a href="http://makeadiff.in/#donate"
                    target="_blank">See how you can help</a>.</p>
        </div>
        <div class="video dream-camp">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p0Hkc_ggmzg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>