<div class="row" id="about-videos">
    <div class="section">
        <div class="col-12 heading">
            <h3>Tata Jagriti Yatra - Awakening the entrepreneurial spirit</h3>
        </div>
        <div class="col-12 video jagriti-yatra">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GkHooiRvW1M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-12 section">
        <h3>Make A Difference - It starts with us!</h3>
        <div class="video make-a-difference">    
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3ZA6wwE8c0Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-12 section">
        <h3>Dream Camp @ Make A Difference</h3>
        <div class="video dream-camp">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p0Hkc_ggmzg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>