#home-travel {
    background: rgb(240, 239, 239);
    padding: 0% 5% 3% 5%;
}

.heading {
    margin: 5% 0% 0% 0%;
    font-weight: 900;
    font-size: 75px;
}

hr {
    border: black;
    border-style: inset;
    border-width: 3px;
    width: 100px;
}

.content {
    padding: 10% 5% 25% 5%;
    background: rgb(19, 19, 19);
    color: white;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: orange;
}

.map {
    background: url('../../../../assets/img/home-brief-travel-metro_edited-reduced.jpg');
    background-size: cover;
}