<div class="row" #hometravel id="hometravel">
    <div class="col-md-12">
        <h1 class="heading">travel</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <hr>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 content">
        <h5>Being an enthusiastic traveller, I have travelled to almost all parts of India and some parts of Bhutan with friends, family and strangers. I've found myself time and again after being lost in these places. It has always been my way of breaking
            the daily cycle. I have also been a part of the wonderfully planned
            <a href="http://www.jagritiyatra.com/" target="_blank">Tata Jagriti Yatra</a> program in 2016. Apart from this, I listen to a lot of music and 4 is my lucky number. I am a big fan of Cristopher Nolan's work. <a routerLink="/about">KNOW MORE</a>            about who I am as a person.</h5>
    </div>
    <div class="col-md-6 d-none d-md-block map">
    </div>
</div>