<div class="row" id="home-travel">
    <div class="col-md-12">
        <h1 class="heading">travel</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <hr>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 content">
        <h3>Being an enthusiastic traveller, I have travelled to almost all parts of India and some parts of Bhutan. I have also been a part of the prestigious <a href="http://www.jagritiyatra.com/" target="_blank">Tata Jagriti Yatra</a>. We were about 350+
            minds from completely diverse backgrounds. As a part of this yatra, Yatris travel the country and meet successful change makers across domains and study their bussiness models. <a href="https://www.youtube.com/watch?v=GkHooiRvW1M" target="_blank">Watch video on youtube</a>.</h3>
    </div>
    <div class="col-md-6 d-none d-md-block map">
    </div>
</div>