.heading {
    margin: 8% 0% 0% 0%;
    font-weight: 900;
    font-size: 75px;
}

hr {
    border: black;
    border-style: inset;
    border-width: 3px;
    width: 100px;
}

.content {
    padding: 5% 5% 10% 5%;
    background: rgb(19, 19, 19);
    color: white;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: orange;
}

.map {
    background: url('../../../../assets/img/home-brief-travel-metro_edited.jpg');
    background-size: cover;
}