/* You can add global styles to this file, and also import other style files */

html,
body {
    font-family: 'Roboto Mono', monospace;
    /*font-family: 'Special Elite', cursive;*/
    max-width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.row {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

router-outlet~* {
    position: absolute;
    height: 100%;
    width: 100%;
}