#resume-intro {
    width: 100%;
    background: url('../../../../assets/img/resume_bg_edited.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding: 250px 10% 200px 10%;
    color: white;
    text-align: center;
}

.black-box {
    padding: 2%;
    background: rgba(0, 0, 0, 0.6)
}

h1 {
    padding: 1% 0% 3%;
    font-weight: 700;
    font-size: 400%;
}

h5 {
    margin: 0%;
    padding: 0% 0% 1%;
    font-size: 130%;
}

.button {
    margin: 5% 30% 1% 30%;
    border-style: solid;
    padding: 2% 2%;
    text-decoration: none;
    color: white;
}

.button:hover {
    border-style: solid;
    border-color: white;
    background: white;
    color: black;
}