#intro {
    width: 100%;
    background-image: url('/assets/img/resume-intro.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    padding: 500px 10% 10% 10%;
    color: white;
    text-align: center;
}

.intro-box {
    margin-left: auto;
    margin-right: 0%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.6)
}

.text {
    margin: 0%;
    padding: 2% 2% 0% 2%;
    font-weight: 900;
    font-size: 130%;
}

.header {
    padding: 1% 2% 2% 2%;
    font-weight: 700;
    font-size: 400%;
}

.button {
    transition: 1s;
    width: 50%;
    margin: 5% auto 2% auto;
    border-style: solid;
    padding: 3% 3% 3% 3%;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.button:hover {
    border-style: solid;
    border-color: white;
    background: white;
    color: rgb(169, 34, 34);
}

h5 {
    font-weight: 900;
}