<div class="row" id=about-photo>
    <h1 class="col-12 title">My Life in Snaphots</h1>
    <div class="col-12 row snaps">
        <div class="col-sm-6 col-md-3">
            <div class="one snap" id="one">
                <p>Varkala Beach</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="two snap">
                <p>M.A.D., Nagpur</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="three snap">
                <p>Bhutan</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="four snap">
                <p>at peace</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="five snap">
                <p>Sikkim</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="six snap">
                <p>Go Karting, Mumbai</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="seven snap">
                <p>Ashtamudi, Kerela</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="eight snap">
                <p>Dirt Biking, Lonavala</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="nine snap">
                <p>Golkonda, Hyderabad</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ten snap">
                <p>Tiger's Nest, Bhutan</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="eleven snap">
                <p>Toy train, Manali</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="twelve snap">
                <p>Charminar, Hyderabad</p>
            </div>
        </div>
    </div>
</div>