<div class="row" id=about-photo>
    <h1 class="col-12 title">My Life in Snaphots</h1>
    <div class="col-12 row snaps">
        <div class="col-sm-6 col-md-3">
            <div class="one snap" id="one">
                <p>Varkala</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="two snap">
                <p>Nagpur</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="three snap">
                <p>Bhutan</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="four snap">
                <p>Jhilpi</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="five snap">
                <p>Sikkim</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="six snap">
                <p>Mumbai</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="seven snap">
                <p>Ashtamudi</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="eight snap">
                <p>Lonavala</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="nine snap">
                <p>Golkonda fort</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ten snap">
                <p>College Room</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="eleven snap">
                <p>Manali</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="twelve snap">
                <p>Charminar</p>
            </div>
        </div>
    </div>
</div>