#about-photo {
    text-align: center;
    padding: 5%;
}

.title {
    padding: 2%;
}

.col-sm-6,
.col-md-3 {
    padding: 1%;
}

.snap {
    transition: 1s;
    color: transparent;
    padding-top: 40%;
    padding-bottom: 40%;
}

.snap:hover {
    opacity: 0.8;
    color: black;
}

p {
    margin: 0% 5%;
    opacity: 0.75;
    padding: 5%;
    font-weight: 900;
}

.snap:hover>p {
    background: white;
}

.one {
    background: url('/assets/img/photos-beach.jpg');
    background-size: cover;
}

.two {
    background: url('/assets/img/photos-presentation.jpg');
    background-size: cover;
}

.three {
    background: url('/assets/img/photos-bhutan.jpg');
    background-size: cover;
}

.four {
    background: url('/assets/img/photos-sleep.jpg');
    background-size: cover;
}

.five {
    background: url('/assets/img/photos-snow.jpg');
    background-size: cover;
}

.six {
    background: url('/assets/img/photos-gokart.jpg');
    background-size: cover;
}

.seven {
    background: url('/assets/img/photos-food.jpg');
    background-size: cover;
}

.eight {
    background: url('/assets/img/photos-dirtbike.jpg');
    background-size: cover;
}

.nine {
    background: url('/assets/img/photos-hyderabad.jpg');
    background-size: cover;
}

.ten {
    background: url('/assets/img/photos-tigers.jpg');
    background-size: cover;
}

.eleven {
    background: url('/assets/img/photos-train.jpg');
    background-size: cover;
}

.twelve {
    background: url('/assets/img/photos-charminar.jpg');
    background-size: cover;
}