<div class="row" id=about-photo>
    <h1 class="col-12 title">My Life in Snaphots</h1>
    <div class="col-12 row snaps">
        <div class="col-sm-6 col-md-3">
            <div class="one snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="two snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="three snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="four snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="five snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="six snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="seven snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="eight snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="nine snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ten snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="eleven snap"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="twelve snap"></div>
        </div>
    </div>
</div>